<
style type ="text /css ">body {
	font-size: 15pt;
	font-family: 'Malgun Gothic';
}

th {
	font-size: 17pt;
	color: white;
	height: 50px;
}

tr {
	font-size: 15pt;
	overflow: auto;
	white-space: nowrap;
}
</
style
>